@model WebAppAptechMang.BATCH_REGISTRATION

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BATCH_REGISTRATION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DAYID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAYID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENROLL_STD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENROLL_STD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.START_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.START_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EX_END_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EX_END_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.END_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.END_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REMARKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REMARKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISACTIVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISACTIVE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
