@model WebAppAptechMang.FACUTLY_BATCH

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FACUTLY_BATCH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BATCH_REGISTRATION.REMARKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BATCH_REGISTRATION.REMARKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FACULTY.FA_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FACULTY.FA_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FA_BA_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
