@model IEnumerable<WebAppAptechMang.FACUTLY_BATCH>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BATCH_REGISTRATION.REMARKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FACULTY.FA_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BATCH_REGISTRATION.REMARKS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FACULTY.FA_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FA_BA_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FA_BA_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FA_BA_ID })
        </td>
    </tr>
}

</table>
