
@{
    ViewBag.Title = "ShowMobile";
}

<h2>ShowMobile</h2>

@ViewBag.ShowId.ID



<h2>Index</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
      
            <tr>
                <th scope="row">@ViewBag.ShowId.ID</th>
                <td>@ViewBag.ShowId.NAME</td>
                <td>@ViewBag.ShowId.MODEL</td>
                <td>@ViewBag.ShowId.BRAND</td>
                <td><img src=@ViewBag.ShowId.IMGPATH alt="Alternate Text" class="thumbnail" height="50" width="50" /> </td>
                <td><a href="/Home/index">Back</a></td>
            </tr>
        
    </tbody>
</table>